@page "/";
@using cat_a_logB.Data
@using cat_a_logB;
@using ApexCharts;
@using Microsoft.AspNetCore.Components;
@using Service;
@inject cat_a_logB.Pages.SampleData SampleData
@inject cat_a_logB.Data.TaskManager TaskManager
@inject cat_a_logB.Data.CalculationData CalculationData
@inject cat_a_logB.Data.MilestoneManager MilestoneManager
@inject Service.ITaskDataService TaskDataService
@inject Service.IDependencyService DependencyService
@inject Service.IMilestoneService MilestoneService
@inject Service.IProjectTeamService ProjectTeamService


<PageTitle>Gantt Chart | Cat-a-log</PageTitle>

@* <button type="button" class="btn btn-primary" @onclick=ShowMilestones>Show Milestones</button> *@

<DemoContainer>

    <div class="container" style="max-width: 800px;">
    <h2 class="mb-4 modern-heading">Project Milestones</h2>
    <ApexChart @ref=MileChart TItem="ProjectMilestone" Width="800" Height="120" Options=options1 Debug OnClick=HandleMilestoneClick>

        <ApexPointTooltip>
            <div class="m-2" style="width: 300px; max-height: 100px; font-size: 12px;">
                @if (context != null)
                {
                    var dataPoint = (ApexCharts.DataPoint<ProjectMilestone>)context.DataPoint;

                    var milestone = dataPoint.Items.FirstOrDefault();
                    if (milestone != null)
                    {
                        <h4>@milestone.Name</h4>
                        <span>Tasks:</span>
                        <ul>
                            @foreach (var task in milestone.Tasks)
                            {
                                <li>
                                    <span style="margin-right: 8px;">@task.Name</span>
                                    @if (task.Progress == 100)
                                    {
                                        <span style="color: green;">(Complete)</span>
                                    }


                                </li>

                            }
                        </ul>

                    }
                }
                else
                {
                    <p>Context is null.</p>
                }

            </div>
        </ApexPointTooltip>


        <ChildContent>

            <ApexPointSeries TItem="ProjectMilestone" Items="milestones" Name="Milestones" SeriesType="SeriesType.Line"
                XValue="@(e => e.Name)" YValue="@(e => 0)" PointColor="@(e => e.Color)">


            </ApexPointSeries>

        </ChildContent>

    </ApexChart>
    </div>
</DemoContainer>

<br/><br/>

<DemoContainer>

    @if (project == null)
    {
        <div class="text-center text-muted" style="min-height: 300px">
            <h3>Loading chart<span class="animated-dots"></span></h3>
        </div>
    }
    else
    {
        <div class="container" style="max-width: 2000px; margin-left:50px;">
    <div class="row">
        <div class="col-lg-6 justify-content-center">
                    <style>
                        .list-group-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 20px;
                        }

                        .list-group-item button {
                            margin-left: 30px;
                            margin-right: 10px;
                        }
                    </style>
            <h3 class="mb-4 modern-heading">Gantt Chart</h3>
        <ApexChart OnClick=OnClick @ref=chart TItem="TaskData" Options="options"
            XAxisType="XAxisType.Datetime">

            <ApexPointTooltip>

                <div class="m-3">
                    @{
                        var point = (ListPoint<TaskData>)context.DataPoint;
                        var task = point.Items.First();

                        <h4>@point.X</h4>
                        <span>Deadline: @point.Items.First().EndDate.ToShortDateString()</span>
                        <br>
                        <span>Team: @point.Items.First().Team.Name</span>
                        <br>
                        <span>@CalculationData.CompareUserProgress(point.Items.First())</span>
                        <br>
                        @if (task.Progress == 0)
                        {
                            <span style="color: red;">Task has zero progress.</span>
                        }
                        else if (task.Progress >= task.AutoProgress)
                        {
                            <span style="color: green;">@CalculationData.CheckEstimatedProgress(point.Items.First())</span>
                        }
                        else
                        {
                            <span style="color: red;">@CalculationData.CheckEstimatedProgress(point.Items.First())</span>
                        }
                    }
                </div>

            </ApexPointTooltip>

            <ChildContent>
                @foreach (var team in teams)
                {
                    <ApexRangeSeries TItem="TaskData" Items="project.Where(task => task.Team == team)" Name="@team.Name"
                        XValue="@(e => e.Name)" YMinValue="@(e => e.StartDate.ToUnixTimeMilliseconds())"
                        YMaxValue="@(e => e.EndDate.ToUnixTimeMilliseconds())" PointColor="e => e.PointColor"
                        OrderByDescending="e => e.Items.First().Team.Name" />
                }

            </ChildContent>


        </ApexChart>
    }
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-5 d-flex align-items-center">
                    @if (selectedData != null && selectedData.DataPoint != null)
                    {
                        <div class="mt-4">
                            <h3 class="mb-4 modern-heading">Task Information</h3>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Task Name: @selectedData.DataPoint.Items.First().Name
                                    <button type="button" class="primary-button" @onclick="ToggleEditTaskName">Edit Task Name</button>
                                </li>
                                @if (showEditTaskNameInput)
                                {
                                    <EditTaskNameInput selectedData="selectedData" project="project" chart="chart" OnClose="ToggleEditTaskName" />
                                }
                                <li class="list-group-item">
                                    Start Date: @selectedData.DataPoint.Items.First().StartDate.ToShortDateString()<br />
                                    End Date: @selectedData.DataPoint.Items.First().EndDate.ToShortDateString()
                                    <button type="button" class="primary-button" @onclick="ToggleEditTaskTime">Edit Task Time</button>
                                </li>
                                @if (showEditTaskTimeInput)
                                {
                                    <EditTaskTimeInput selectedData="selectedData" project="project" chart="chart" OnClose="ToggleEditTaskTime" />
                                }
                                <li class="list-group-item">
                                    Team: @selectedData.DataPoint.Items.First().Team.Name
                                </li>
                                <li class="list-group-item">
                                    Progress: @selectedData.DataPoint.Items.First().Progress%
                                    <button type="button" class="primary-button" @onclick="ToggleEditTaskProgress">Update Progress</button>
                                </li>
                                @if (showEditTaskProgressInput)
                                {
                                    <EditTaskProgressInput selectedData="selectedData" project="project" chart="chart" mileChart="MileChart"
                                                           milestones="milestones" OnClose="ToggleEditTaskProgress" />
                                }
                                <li class="list-group-item">
                                    Task Time Progress: @selectedData.DataPoint.Items.First().AutoProgress.ToString("N2")%
                                </li>
                                <li class="list-group-item">
                                    Manage Dependecies
                                    <button type="button" class="primary-button" @onclick="ToggleEditTaskDependencies">Dependencies</button>
                                </li>
                                <li class="list-group-item">
                                    Manage Comments
                                    <button type="button" class="primary-button" @onclick="ToggleEditTaskComments">Comments</button>
                                </li>
                            </ul>
                            <br />
                            <div class="d-flex justify-content-center align-items-center mb-sm-3">
                                <button type="button" class="remove-button" @onclick="RemoveTask">Remove Task</button>
                                <div class="ml-2"></div> <!-- Add some margin here -->
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="border-light" style="border: 2px solid #3498db; padding: 20px; background-color: #ecf0f1; color: #2c3e50; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                            <h3 style="font-size: 24px; margin-bottom: 15px;">Explore Tasks</h3>
                            <p style="font-size: 16px; line-height: 1.5em; color: #555;">
                                Click on a task in the Gantt chart to see detailed information about it. <br /> Gain insights into task names, start and end dates, progress, and more! <br /> Or click on the button below and add a new task!
                            </p>
                            <br>
                            <button type="button" class="primary-button" @onclick="ToggleAddNewTask">Add a New Task</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</DemoContainer>
    @if (showEditTaskCommentsModal)
    {
        <EditTaskCommentsModal selectedData="selectedData" project="project" chart="chart" OnClose="ToggleEditTaskComments" />
    }

    @if (showEditTaskDependenciesModal)
    {
        <AddRemoveDependency selectedData="selectedData" project="project" chart="chart" OnClose="ToggleEditTaskDependencies" />
    }

@code {
    private string errorMessage = "";
    private ApexChart<TaskData> chart;
    private TaskData newTask = new TaskData();
    private List<TaskData> project;
    private List<TaskData> sortedTasks;
    private List<ProjectTeam> teams;
    private ApexChartOptions<TaskData> options;
    private SelectedData<TaskData> selectedData;
    private string newTaskName;
    private DateTime newTaskStartTime = DateTime.Today;
    private DateTime newTaskEndTime = DateTime.Today.AddDays(1);
    private string selectedTeamName;
    private TaskData selectedTaskForProgress;
    private bool showEditTaskNameInput = false;
    private bool showEditTaskTimeInput = false;
    private bool showEditTaskProgressInput = false;
    private bool showEditTaskCommentsModal = false;
    private bool showEditTaskDependenciesModal = false;
    private bool showAddNewTaskModal = false;
    private DependencyType selectedDependencyType = DependencyType.FS; //default is FS
    private string selectedSuccessorTaskName;
    private int selectedSuccessorTask = 0;
    private List<object> boxedValues = new List<object>();
    private ApexChart<ProjectMilestone> MileChart;
    private List<ProjectMilestone> milestones;
    private List<Member> members;
    private string title = "Milestone List";
    private List<double> lineData;
    private ApexChartOptions<ProjectMilestone> options1 { get; set; } = new();
    private ProjectMilestone clickedMilestone;
    private List<ProjectMilestone> displayedMilestones = new List<ProjectMilestone>();


    private bool showCreateNewTask = false;



    protected override async Task OnInitializedAsync()
    {
        project = TaskDataService.GetAllTasks();
        teams = ProjectTeamService.GetAllTeams();
        milestones = MilestoneService.GetAllMilestones();
        members = ProjectTeamService.GetAllMembers();
        foreach (var team in teams)
        {
            team.LoadTeamMembers(members);
        }

        sortedTasks = project;
        var colors = teams.Select(team => team.Color).ToList();
        lineData = milestones.Select(_ => 100.0).ToList();

        options1.Yaxis = new List<YAxis>();
        options1.Yaxis.Add(new YAxis
            {
                DecimalsInFloat = 0,
                TickAmount = 1,

                Labels = new YAxisLabels
                {
                    Style = new AxisLabelStyle
                    {
                        FontSize = "5px",
                        Colors = new Color("white")
                    }
                }
            });


        options = new ApexChartOptions<TaskData>
            {
                PlotOptions = new PlotOptions
                {
                    Bar = new PlotOptionsBar
                    {
                        Horizontal = true,
                        RangeBarGroupRows = true,
                    }
                },
                Tooltip = new ApexCharts.Tooltip
                {
                    X = new TooltipX
                    {
                        Format = "dd MMM yyyy",
                    }
                },
                Colors = colors,

            };

        options.Legend = new Legend { Position = LegendPosition.Bottom, FontSize = "14px", HorizontalAlign = Align.Center };

    }

    private async Task RefreshData()
    {
        project = TaskDataService.GetAllTasks();
        teams = ProjectTeamService.GetAllTeams();
        milestones = MilestoneService.GetAllMilestones();

        StateHasChanged();
    }

    private void OnClick(SelectedData<TaskData> data)
    {
        selectedData = data;
    }

    private Task HandleMilestoneClick(SelectedData<ProjectMilestone> data)
    {
        return ShowMilestone(data);
    }

    private async Task ShowMilestone(SelectedData<ProjectMilestone> data)
    {
        await MilestoneManager.ShowMilestone(chart, data, clickedMilestone, displayedMilestones);
    }

    private async Task AddTask()
    {
        await TaskManager.AddTask(project, chart, newTask, teams, selectedTeamName);
    }

    private async Task RemoveTask()
    {
        await TaskManager.RemoveTask(selectedData, project, chart);
    }

    #region ToggleFunctions
    private void ToggleEditTaskName()
    {
        newTaskName = "";
        showEditTaskNameInput = !showEditTaskNameInput;
    }

    private void ToggleEditTaskProgress()
    {
        showEditTaskProgressInput = !showEditTaskProgressInput;
    }


    private void ToggleEditTaskDependencies()
    {
        showEditTaskDependenciesModal = !showEditTaskDependenciesModal;
        selectedSuccessorTaskName = null;

    }

    private void ToggleEditTaskTime()
    {
        newTaskStartTime = DateTime.Today;
        newTaskEndTime = DateTime.Today.AddDays(1);
        showEditTaskTimeInput = !showEditTaskTimeInput;
    }

    private void ToggleEditTaskComments()
    {
        showEditTaskCommentsModal = !showEditTaskCommentsModal;
    }

    private void ToggleAddNewTask()
    {
        showAddNewTaskModal = !showAddNewTaskModal;
    }
    #endregion

 }