@page "/Milestones"
@using cat_a_logB.Data
@inject cat_a_logB.Pages.SampleData SampleData

<PageTitle>Milestones</PageTitle>

<h1 class="mb-4">Milestone settings</h1>

<div class="row">
    <div class="col-md-6">
        @if (milestones != null && milestones.Any())
        {
            <ul class="list-group">
                @foreach (var milestone in milestones)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <button class="btn btn-link" @onclick="() => ToggleMilestoneSelection(milestone)">
                            @milestone.Name - Target Date: @milestone.TargetDate.ToShortDateString()
                        </button>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No Milestones found.</p>
        }
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-3">New Milestone:</h3>
                <form>
                    <div class="form-group">
                        <label for="milestoneName">Milestone Name:</label>
                        <input class="form-control" type="text" id="milestoneName" @bind="milestoneName" />
                    </div>

                    <div class="form-group">
                        <label>Tasks:</label>
                        @foreach (var task in tasks)
                        {
                            <label>
                                <input type="checkbox" @onclick="() => ToggleTaskSelection(task)"
                                    checked="@selectedTasks.Contains(task)" />
                                @task.Name
                            </label>
                        }
                    </div>
                    <div class="form-group">
                        <label>Target completion date:</label>
                        <input class="form-control" type="date" id="targetDate" @bind="milestoneDate" />

                    </div>
                    <br>
                    <button class="btn btn-primary" type="button" @onclick="CreateMilestone">Create Milestone</button>
                </form>
            </div>
        </div>
    </div>
</div>


@if (selectedMilestone != null)
{
    <h3>Selected Milestone: @selectedMilestone.Name</h3>
    @if (selectedMilestone.Tasks != null && selectedMilestone.Tasks.Any())
    {
        <h3>Tasks for @selectedMilestone.Name</h3>
        <ul>
            @foreach (var task in selectedMilestone.Tasks)
            {
                <li>@task.Name</li>
            }
        </ul>
    }
    else
    {
        <p>No tasks found for @selectedMilestone.Name</p>
    }
}
else
{
    <p>No milestone selected.</p>
}

@code {
    private List<TaskData> tasks;
    private List<ProjectMilestone> milestones;
    private string milestoneName;
    private DateTime milestoneDate = DateTime.Today;
    private List<TaskData> selectedTasks = new List<TaskData>();
    private ProjectMilestone selectedMilestone;
    private ProjectMilestone newMilestone = new ProjectMilestone();
    private string errorMessage = "";




    protected override void OnInitialized()
    {
        milestones = SampleData.GetMilestones();
        tasks = SampleData.GetProject();
    }

    private void ToggleTaskSelection(TaskData task)
    {
        if (selectedTasks == null)
        {
            selectedTasks = new List<TaskData>();
        }

        if (selectedTasks.Contains(task))
        {
            selectedTasks.Remove(task);
        }
        else
        {
            selectedTasks.Add(task);
        }
    }

    private void CreateMilestone()
    {
        if (!string.IsNullOrWhiteSpace(milestoneName) && selectedTasks != null && selectedTasks.Any())
        {

            newMilestone = new ProjectMilestone(milestoneName, selectedTasks.ToList(), milestoneDate, "blue");

            milestones.Add(newMilestone);
            newMilestone = new ProjectMilestone();
            milestoneName = string.Empty;
            selectedTasks.Clear();
            StateHasChanged();
        }
    }

    private void ToggleMilestoneSelection(ProjectMilestone milestone)
    {
        selectedMilestone = milestone;
    }
}