@page "/teams"
@using cat_a_logB.Data
@inject cat_a_logB.Pages.SampleData SampleData
@inject cat_a_logB.Data.CalculationData CalculationData
@inject cat_a_logBContext DbContext
@inject cat_a_logB.Data.TeamManager TeamManager
@inject Service.ITaskDataService TaskDataService
@inject Service.IDependencyService DependencyService
@inject Service.IMilestoneService MilestoneService
@inject Service.IProjectTeamService ProjectTeamService

<PageTitle>Teams | Cat-a-log</PageTitle>

<div class="container" style="max-width: 700px;">
    <div class="row">
        <div class="col-12 mb-4">
            <style>

            </style>

            <h3 class="mb-4 modern-heading">Current Teams</h3>
            @if (teams != null && teams.Any())
            {
                <div class="list-group">
                    @foreach (var team in teams)
                    {
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <style>
                                .team-name-btn-@team.Id {
                                    transition: background-color 0.3s;
                                    background-color: white;
                                    border: 1px solid var(--accent-color-3);
                                    color: #1f1f1f;
                                }

                                .team-name-btn-@team.Id:hover {
                                    background-color: @team.Color;
                                    color: white;
                                }
                            </style>
                            <button class="primary-button team-name-btn-@team.Id" @onclick="() => ShowTasksForTeam(team)">
                                <span class="ml-2 team-name">@team.Name</span>
                            </button>
                            <div class="d-flex align-items-center">
                                <button class="edit-button" @onclick="() => EditTeamMembers(team)">Edit
                                    Members</button>
                                <button class="remove-button" style="margin-left: 8px;"
                                    @onclick="() => ToggleRemoveTeamModal(team)">Remove Team</button>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p class="text-center">No teams found.</p>
            }
        </div>
    </div>
</div>

<div class="container" style="max-width: 700px;">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="list-group">
                <button class="primary-button" @onclick="ToggleCreateForm">Create New Team</button>
            </div>
        </div>
    </div>
</div>

@if (isFormVisible)
{
    <div class="container" style="max-width: 700px;">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        @* <h3 class="card-title mb-3">New Team:</h3> *@
                        <form>
                            <div class="form-group">
                                <label for="teamName">Team Name:</label>
                                <input class="form-control" type="text" id="teamName" @bind="newTeam.Name" />
                            </div>
                            <div class="form-group">
                                <label for="teamColor">Team Color:</label>
                                <input class="form-control" type="color" id="teamColor" @bind="newTeam.Color" />
                            </div>
                            <br />
                            <button class="primary-button" type="button" @onclick="AddTeam">Add Team</button>
                        </form>
                    </div>
                </div>
                <p class="text-danger mt-3">@errorMessage</p>
            </div>
        </div>
    </div>
}


@if (showRemoveModal)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Removal</h5>
                    <button type="button" class="close" @onclick="ToggleRemoveModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove the team '@(teamToRemove?.Name)' and its associated tasks?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="ToggleRemoveModal">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick="() => RemoveTeam(teamToRemove)">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>

}

@if (selectedTeam != null)
{
    <div class="container" style="max-width: 700px;">
        <div class="row">
            <div class="col-12 mb-4">
                @if (selectedTeam.TeamMembers != null && selectedTeam.TeamMembers.Any())
                {
                    <h4 class="mb-4 font-weight-bold text-center">Team Members for @selectedTeam.Name</h4>

                    <ul>
                        @foreach (var member in selectedTeam.TeamMembers)
                        {
                            <li>@member.Name</li>
                        }
                    </ul>
                }
                else
                {
                    <h4 class="mb-4 font-weight-bold text-center">@selectedTeam.Name has no members.</h4>
                }

                @if (selectedTeam.Tasks != null && selectedTeam.Tasks.Any())
                {
                    <style>
                        .list-group-item:hover {
                            background-color: var(--background-color);
                        }
                    </style>
                    <h4 class="mb-4 font-weight-bold text-center">Tasks for @selectedTeam.Name</h4>
                    <div class="list-group">
                        @foreach (var task in selectedTeam.Tasks)
                        {
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@task.Name</h5>
                                    <!-- Add more information if needed -->
                                    <small>Due: @task.EndDate.ToString("yyyy-MM-dd")</small>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h4 class="mb-4 font-weight-bold text-center">@selectedTeam.Name has no tasks.</h4>
                }
            </div>
        </div>
    </div>
}
else
{
    <h4 class="mb-4 font-weight-bold text-center">Click on a team name to see its information!</h4>
}



@code {
    public List<ProjectTeam> teams;
    private List<TaskData> tasks;
    private ProjectTeam newTeam = new ProjectTeam() { ProjectId = 1 };
    private string errorMessage = "";
    private ProjectTeam selectedTeam;
    private ProjectTeam teamToRemove;
    private bool showRemoveModal = false;
    bool isFormVisible = false;

    protected override async Task OnInitializedAsync()
    {
        teams = ProjectTeamService.GetAllTeams();
        tasks = TaskDataService.GetAllTasks();
    }

    private async Task RefreshData()
    {
        // teams = ProjectTeamService.GetAllTeams();
        // tasks = tasks = TaskDataService.GetAllTasks();

        TeamManager.RefreshData(teams, tasks);
        StateHasChanged();
    }

    private async Task AddTeam()
    {
        TeamManager.AddTeam(teams, newTeam);
        StateHasChanged();
        ToggleCreateForm();
        await RefreshData();
    }

    private async void RemoveTeam(ProjectTeam team)
    {
        // Remove the team
        ProjectTeamService.RemoveTeam(team);

        if (selectedTeam != null && selectedTeam.Id == team.Id)
        {
            selectedTeam = null;
        }
        ToggleRemoveModal();

        await RefreshData();
    }

    private void EditTeamMembers(ProjectTeam team)
    {

    }
    private void ShowTasksForTeam(ProjectTeam team)
    {
        if (selectedTeam != team)
        {
            selectedTeam = team;
            ProjectTeam.GetTasksForTeam(tasks, team);
        }
        else
        {
            selectedTeam = null;
        }
    }

    private void ToggleRemoveTeamModal(ProjectTeam team)
    {
        teamToRemove = team;
        showRemoveModal = !showRemoveModal;
    }

    private void ToggleRemoveModal()
    {
        showRemoveModal = !showRemoveModal;
    }


    void ToggleCreateForm()
    {
        isFormVisible = !isFormVisible;
        newTeam.Name = "";
        newTeam.Color = "#000";
    }
}
